/* Styling of the navbar-main that displays an abridged 2017 hurricane trajectory map */

img[src="/sites/default/files/inline-images/carib-islands-and-pathways.png"] {
    height: auto;
    width: 1140px;
    display: block;
   }

   @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

  .button-nav {
    background-color: teal;
    border-style: solid;
    color: #e7e7e7;
    padding: 10px 21px;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    border-radius: 50px;
}

.button-nav:hover, .button-nav:active {
    background-color: #a0a0a0;
    color: #e7e7e7;
    text-decoration: none;
}

.creative-res, .predictable-preca {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.creative-res a {
    position: relative;
    top: 25%;
    z-index: 999;
}

.creative-res img {
    position: relative;
    bottom: 1.6em;
    width: 1145px;
    height: auto;
}

.entangled-eco a {
    float: right;
    position: relative;
    right: 2.5em;
    z-index: 999;
}

.entangled-eco img {
    position: relative;
    top: -2.8em;
    width: 1145px;
    height: auto;
}

 .hurricane-icon {
     height: auto;
     margin:  0.5em;
     position: absolute;
     width: 8em;
     z-index: 1000;
 }
 
 .icon-irma {
     bottom: 55em;
     left: 10.5em;
 }
 
 .icon-jose {
     left: 39em;
     top: 33em;
 }
 
 .icon-maria {
     left: 49em;
     top: 3.5em;
 }

 .img-size {
    height: auto;
    width: 1140px;
    position: relative;
    z-index: 5;
}

 .overlay {
    height: 100%;
    width: 100%;
    opacity: 0;
    position: absolute;
    transition: .3s ease;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.overlay-container {
    position: relative;
    top: 10%;
    width: 1140px;
    z-index: 5;
}

.overlay-container:hover .overlay {
    opacity: 1;
}

.predictable-preca a {
    float: right;
    position: relative;
    top: 46%;
    right: 15%;
    z-index: 999;
}
.predictable-preca img {
    position: relative;
    bottom: 3em;
    right: 0.2em;
    width: 1145px;
    height: auto;
}
 
 .rotate {
   animation: rotation 8s infinite linear;
 }
